body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #333;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  padding: 0;
}

.mb-4 {
  justify-content: center;
  font-family: "Oswald", sans-serif;
  font-size: 1.3em;
  margin: 2em;
  width: 50vw;
}

.bookingcontainer {
  width: 60vw;
}

.bookingtitle,
.titlerestaurant,
.aboutforky {
  font-size: 2.5em;
  font-family: "Rubik", sans-serif;
}

.mt-4 {
  font-size: 1.7em;
  margin-bottom: 0;
}

.navbar-nav .nav-item .nav-link {
  padding: 1rem 0.5rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 0.5em;
}

.forky-logo {
  width: 90%;
  max-width: 600px;
  height: auto;
  margin-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

.btn {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
}

.custom-card {
  border-radius: 30px;
  overflow: hidden;
}

.custom-form {
  border-radius: 15px;
  padding: 1rem;
  background-color: #f9f9f9;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Rubik", sans-serif;
  text-align: center;
}

.custom-form .form-control,
.custom-form .form-select {
  border-radius: 15px;
  padding: 0.5rem;
  font-size: 1rem;
}

.custom-form label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: white;
}

.brand-font {
  color: white;
  font-weight: bolder;
  font-family: "Bauhaus 93", sans-serif;
  font-size: 3em;
}
